NODE_ENV=development
PORT=8000

STELLAR_NETWORK=testnet

TESTNET_CONTRACT_ID=CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADX3W
MAINNET_CONTRACT_ID=CAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADX3W

CACHE_TTL_SECONDS=60
HORIZON_TIMEOUT=30000
